<% provide(:title, 'Rooms') %>
<div class="page-header">
<%= link_to rooms_path, class: 'btn btn-default' do %>
<span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <h1><%= @room.name %></h1>
  </div>

  <%= render :partial => 'messages', collection: @messages, :as => :message %>

  <dl class="dl-horizontal">
  <%= form_for @message do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.text_field :body %>
  <%= f.submit 'Send', id: 'send_button' %>
  <% end %>
  </dl>
